name: Static Analysis

# Run on pull requests and by dispatch
on:
  workflow_dispatch:
  pull_request:

jobs:
  static-analysis:
    name: Run cppcheck
    uses: nasa/cFS/.github/workflows/static-analysis.yml@main
    with:
      strict-dir-list:
        -Iaa/arp/inc -Iaa/as/inc -Iaa/fwp/inc -Iaa/nc/inc -Ibpa/bi/inc -Ibpa/ct/inc 
        -Ibpa/ebp/inc -Ibpa/pdb/inc -Ibpa/pi/inc -Ibpa/stor/inc -Ici/cbor/inc -Ici/em/inc 
        -Ici/job/inc -Ici/mem/inc -Ici/pl/inc -Ici/time/inc -Icla/inc -Iinc
        aa/arp/src aa/as/src aa/fwp/src aa/nc/src bpa/bi/src bpa/ct/src
        bpa/ebp/src bpa/pdc/src bpa/pi/src bpa/stor/src ci/cbor/src ci/em/src
        ci/job/src ci/mem/src ci/pl/src ci/time/src cla/src
